# Created by https://www.gitignore.io/api/python,django 

### Django ### 
*.log 
*.pot 
*.pyc 
__pycache__
migrations
local_settings.py 
db.sqlite3
media
law_list_detail.csv
law_list.csv
prec_word2vec_model
prec_word2vec_model.trainables.syn1neg.npy
prec_word2vec_model.wv.vectors.npy
law_list_detail_2.csv
