{% extends "base.html"%}

{% block title %}
판례 목록
{% endblock %}

{% block content %}
<div class="container" style="width: 100%;">
    
        <h3 class="mb-30"> 판례 목록</h3>
        <div style="margin-right: 15px;">
            <form action="precList.html" method="get">
                <div class="form-inline row justify-content-end" style="margin-bottom: 10px">
                    <div class="default-select" id=default-select">
                        <select name="type">
                            <option value="law_title">사건명</option>
                            <option value="law_event_type">법률유형</option>
                        </select>
                    </div>
                    <div class="ml-10">
                        <input type="text" name="text" placeholder="검색할 내용 입력" onfocus="this.placeholder = ''" onblur="this.placeholder = '검색할 내용 입력'" class="single-input">
                    </div>
                    <div class="ml-10">
                        <input type="submit" class="genric-btn primary radius" value="검색">
                    </div>
                </div>
            </form>
        </div>
    
        <table class="table" style='width: 1500px ;text-align: center;'>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">제목</th>
                    <th scope="col">법원</th>
                    <th scope="col">사건유형</th>
                    <th scope="col">판결유형</th>
                    <th scope="col">선고일자</th>
                </tr>
            </thead>
            <tbody>
            {% for tmp in posts %}
                <tr class="tr_mouseover">

                    <td class="player_name">{{ tmp.law_title }}</td>
                    <td>{{ tmp.law_court_name }}</td>
                    <td>{{ tmp.law_event_type }}</td>
                    <td>{{ tmp.law_result }}</td>
                    <td>{{ tmp.law_date }}</td>
                </tr>
            {% endfor %}    
            </tbody>
        </table>
        {% if posts.0 is None %}
        <div class="row justify-content-center">
            <p>판례가 존재하지 않습니다.</p>
        </div>
        {% endif %}
        
        <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li class="page-item">
                        <a href="?page=1&type={{searchtype}}&text={{searchkeyword}}" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">
                                첫페이지
                                <!-- <span class="lnr lnr-chevron-left"></span> -->
                            </span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{posts.previous_page_number}}&type={{searchtype}}&text={{searchkeyword}}" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">
                                이전 페이지
                            </span>
                        </a>
                    </li>
                {% endif %}
                {% if posts.0 is not None %}
                    <li class="page-item"><a href="#" class="page-link">{{posts.number}}</a></li>
                    <li class="page-item"><a href="#" class="page-link">/</a></li>
                    <li class="page-item"><a href="#" class="page-link">{{posts.paginator.num_pages}}</a></li>
                {% endif %}
                {% if posts.has_next %}
                    <li class="page-item">
                        <a href="?page={{posts.next_page_number}}&type={{searchtype}}&text={{searchkeyword}}" class="page-link" aria-label="Next">
                            <span aria-hidden="true">
                                다음페이지
                                <!-- <span class="lnr lnr-chevron-right"></span> -->
                            </span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{posts.paginator.num_pages}}&type={{searchtype}}&text={{searchkeyword}}" class="page-link" aria-label="Next">
                            <span aria-hidden="true">
                                마지막페이지
                                <!-- <span class="lnr lnr-chevron-right"></span> -->
                            </span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <div class="row justify-content-end">
            <div style="margin-right: 15px;">
                <button class="genric-btn primary radius" onclick="location.href='index'">홈으로</button>
            </div>
        </div>
        <div id="pop_up" style="position:absolute; width:45%; display:none;">
            <img id="up_img" width="100%" height="100%"/>
        </div>
    </div>
</div>
{% endblock %}

